{% extends 'base.html' %}
{#{% load static %}#}
{% block page %}
    {% for key in all_pizzas %}
        {#            div>h2+div*2#}
        <div>
            <h2><a href="{% url 'pizza-detail' pizza_id=key.id %}">{{ key.name }}</a></h2>
            {% if key.photo %}
                <img src="{{ key.photo.url }}" alt="{{ key.name }}">
            {% endif %}
            <div>{{ key.short_description }}</div>
            <div>{{ key.price|floatformat:"2" }}</div>
            {#                <div> {{ key }}</div>#}
            {#                <div> {{ all_pizzas }}</div>#}
        </div>
    {% endfor %}
{% endblock %}
