{% extends 'base.html' %}
{% block page %}
    <a href="{% url 'home' %}">Главная</a>
    <div>
{#        <h2>{{ one_pizza.name }}</h2>#}
        <h2>{{ pizza.name }}</h2>
        {% if pizza.photo %}
            <img src="{{ pizza.photo.url }}" alt="{{ pizza.name }}">
        {% endif %}
        <div>{{ pizza.short_description }}</div>
        <div>{{ pizza.price|floatformat:"2" }}</div>
    </div>
    <h2>Заказ</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_ul }}
        {#        {{ form.as_table }}#}
        <input type="submit" value="Отправить заказ">
    </form>
{% endblock %}